#menuppal {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #442b4f;
    text-align: left;
    height: 50px;
    padding-top: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menuppal a {
    margin: 0 15px; /* Simplificado */
    padding: 10px 20px; /* Ajustado */
    text-decoration: none;
    text-transform: uppercase;
    border: #965690 2px solid;
    border-radius: 10px;
    background-color: #dd79c5;
    color: #ffffff;
    text-align: center; /* Centrar texto */
    display: inline-block; /* Mejor que flex para enlaces */
}

#menuppal a:hover {
    background-color: #965690;
    color: #ffffff;
}

body {
    font-family: sans-serif;
    margin: 0; /* Ajustado */
    padding: 20px;
    background-color: #e2b7d7;
}

h1 {
    color: #000000;
    text-align: center; /* Centrar el título */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Limitar el ancho del formulario */
    margin: 0 auto; /* Centrar el formulario */
}

label {
    font-weight: bold;
    display: block; /* Asegurar que las etiquetas estén en una línea separada */
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px 0; /* Ajustado */
    border: 1px solid #dd79c5;
    border-radius: 4px;
    box-sizing: border-box; /* Incluir padding en el ancho */
}

input[type="submit"] {
    background-color: #dd79c5;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Botón de ancho completo */
    font-size: 16px; /* Tamaño de fuente más grande */
}

input[type="submit"]:hover {
    background-color: #965690; /* Cambiado para efecto hover */
    color: #ffffff;
}

p {
    margin: 10px 0;
}